node_modules
.idea/dictionaries
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/inspectionProfiles/Project_Default.xml
.nyc_output
**/*.js
**/*.js.map
!webpack.*.js
!test/populateTests.js
!.eslintrc.js
build
test/tests.ts
