@import url('https://fonts.googleapis.com/css?family=Inconsolata');

pre {
  font-family: Inconsolata, monospace;
  margin: 0;
}

.pageMargin {
  margin: 5px;
}

.monospace * > input, .monospace * > textarea {
  font-family: Inconsolata, monospace;
  font-size: 1.1em;
}

.redText * > input, .redText * > textarea {
  color: #c50000;
}

.greyText {
  color: #4b4b4b;
}

.smallDivider {
  margin-top: 5px;
}

.bottomBar {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.fullWidth {
  width: 100%;
}

.centerContent {
  display: flex;
  justify-content: center;
}

.verticallyCenterContent {
  display: flex;
  align-items: center;
}

.emeditorLogo {
  width: 150px;
}