name: Deploy
on:
  push:
    tags:
      - '*'

jobs:
  deploy:
    runs-on: ubuntu-latest  
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v6

      - name: Install corepack
        run: npm install -g corepack

      - uses: actions/setup-node@v6
        with:
          node-version: '25.x'
          cache: 'yarn'

      - run: yarn install --immutable

      - run: yarn build

      - name: Upload pages
        if: ${{ github.ref_type == 'tag' }}
        uses: actions/upload-pages-artifact@v3
        with:
          path: build
      - uses: actions/deploy-pages@v4
