name: Test
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install corepack
        run: npm install -g corepack

      - uses: actions/setup-node@v6
        with:
          node-version: '25.x'
          cache: 'yarn'

      - run: yarn install --immutable

      - run: yarn test

      - run: yarn lint
