name: Test
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '21.x'
          cache: 'npm'
      - run: yarn install --immutable
      - run: yarn test
      - run: yarn lint
